<div>
    <p>
        Hello, my name is <%= person[0].firstName %> <%= person[1].lastName %>.  I'm currently a student at San Diego Code School and am pursuing a career in SW development.  
        I have the following skill sets:
    </p>  
    <br>
    <div>
        <div>
            <strong>Coding Languages:</strong>
            <ul>
                <% coding_languages.forEach(function(language){ %>
                    <li><%= language.name %></li>
                <% }) %>    
            </ul>
        </div>
        <div>
            <strong>Tech Stacks:</strong>
            <ul>
                <% tech_stacks.forEach(function(tech){ %>
                    <li><%= tech.name %></li>
                <% }) %>    
            </ul>
        </div>
        <div>
            <strong>Development Tools:</strong>
            <ul>
                <% dev_tools.forEach(function(tool){ %>
                    <li><%= tool.name %></li>
                <% }) %>    
            </ul>
        </div>
    </div>
</div>